{% extends 'post_list.html' %}

{% block title %}
    Volt {{ tag|capfirst }}
{% endblock %}

{% block headtitle %}
    Volt {{ tag|capfirst }}
{% endblock %}

{% block filtermsg %}
    {% if tag %}
    <div class="ui  filter message">
        Showing top results for tag: <span class="ptag">{{ tag }}</span> &bull;
        <a href="{% url 'post_list' %}">reset <i class="undo small icon"></i></a>
    </div>
    {% else %}
        <div class="ui  filter message"> Tag does not exist.</div>
    {% endif %}

{% endblock %}
